body{
    background-color: #fffbf7;
}

h1 {
    color:#025157;
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    color:#8b8b8bcc;
}

button {
    background-color:#025157;
    color: white;
    text-align: center;
    border-color: #025157;
}


