body {
    background-color: #fffbf7;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

h3 {
    color: #46484c;
}

.color-gris-seccion-inicial {
    color: #8b8b8bcc;
}

button {
    color: #ffffff;
    background-color: #025157;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.header li {
    display: inline;
    margin: 0 15px;
}

.header ul {
    padding: 0;
}

.logo_matcha {
    width: 50px;
}

.imagen_matcha {
    width: 20%;
}

.navbar {
    width: 60%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 20%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions a {
    color: #67b54b;
    text-decoration: none;
    margin: 0 15px;
}

.actions button {
    border-radius: 5px;
    background-color: #67b54b;
    color: #ffffff;
    border: none;
    padding: 20px;
}

.first-image {
    width: 20%;
    text-align: center;
}

.second-image {
    width: 50%;
    text-align: center;
}

.main {
    text-align: center;
    margin-top: 260px;
}

.main h1 {
    font-family: 'Alegreya', serif;
    font-size: 48px;
    font-weight: 900;
    color: #025157;
}

.publish {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}


.publish .publicidad .titulo-publish {
    font-family: 'Alegreya', serif;
    font-size: 36px;
    font-weight: 900;
    color: #025157;
    margin-top: 0;
}

.publish .publicidad .color-gris {
    color: #8b8b8bcc;
}

.publish .video {
    flex: 1;
}

.publish .video .video-contenedor {
    width: 90%;
}

.publish .video .video-contenedor .cuadro-video {
    width: 100%;
}

.publish .video .see-how-it-works {
    display: flex;
    justify-content: center;
}

.publish .video .see-how-it-works .green-arrow {
    width: 50px;
}

.publish .publicidad {
    flex: 1;
}

.features {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    height: 600px;
    background-color: #025157;
    padding: 5% 10%;

    /* se va a borrar al final */
    margin-bottom: 200px;
}

.feature-card {
    margin: 0 15px 20px;
}

.feature-content {
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.feature-content .feature-text {
    flex: 2;
    padding: 15px 20px;
}

.feature-content .feature-text h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}
.feature-content .feature-text p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}
.feature-content .feature-text a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.feature-text figure {
    margin-left: 0;
}

.feature-text figure img {
    height: 30px;
}
.feature-content .feature-image {
    flex: 1
}

.feature-image figure {
    width: 100%
}

.feature-image figure img {
    width: 100%
}

.movimiento {
    transition: width 1s;
}

.movimiento:hover {
    width: 150%;
}